
body {
    font-family: "Rubik", sans-serif !important;
}

h1 a {
    font-family: "Pacifico", sans-serif !important;
    text-decoration: none; /* Removes underline */
    color: #000000; /* Set your default color, black in this case */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

h1 a:hover {
    color: #f39c12; /* Change color to orange when hovering */
    text-decoration: none; /* Ensure no underline on hover */
}

#description {
    font-size: 0.9em; /* Makes the font slightly smaller than normal */
    color: rgb(50, 50, 50); /* Changes the font color to dark gray */
    margin-top: 10px; /* Adds a 10px margin at the top */
}

