
body {
    font-family: "Rubik", sans-serif !important;
}

h1 a {
    margin-bottom: 10px;
    text-decoration: none; /* Removes underline */
    color: #f39c12; /* Set your default color, black in this case */
}

h1 a:hover {
    text-decoration: none; /* Ensure no underline on hover */
}

h2 {
    color: #f39c12;
}

#description {
    font-size: 0.9em; /* Makes the font slightly smaller than normal */
    color: rgb(50, 50, 50); /* Changes the font color to dark gray */
    margin-top: 10px; /* Adds a 10px margin at the top */
}

.btn-custom {
    background-color: #f39c12;
    color: white;
}

.btn-custom:hover {
    background-color: #e08e0b;
    color: white;
}

